<div class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">
			<a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" routerLink="/home" routerLinkActive="active-link">Home</a> |
			<a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" routerLink="/admin/super-hero" routerLinkActive="active-link">Superhelte</a> |
			<a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" routerLink="/admin/teams" routerLinkActive="active-link">Hold</a>
		</div>
	</div>
</div>
